<template>
  <v-content>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="10">
          <v-layout row wrap>
            <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
              <v-card flat class="text-center ma-3">
                <v-responsive class="pt-4">image goes here</v-responsive>
                <v-card-text>
                  <div class="subheading">{{person.name}}</div>
                  <div class="grey--text">{{person.age}}</div>
                </v-card-text>
                <v-card-actions>
                  <!-- <v-spacer></v-spacer> -->
                  <v-btn color="deep-orange darken-2">
                    <v-icon small left>mdi-message</v-icon>
                    <span>voir</span>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      team: [
        { name: "pierre", age: 42 },
        { name: "paul", age: 63 },
        { name: "helene", age: 99 },
        { name: "tristan", age: 12 },
        { name: "francois", age: 43 }
      ]
    };
  }
};
</script>

<style>
</style>