<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense v-for="item in menu" :key="item.icon">
        <v-list-item :to="item.link">
          <v-list-item-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Oui-Vie</v-toolbar-title>
    </v-app-bar>
    <router-view></router-view>

    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  props: {
    source: String
  },
  data() {
    return {
      drawer: null,
      menu: [
        { icon: "mdi-view-dashboard", title: "Home", link: "/" },
        { icon: "mdi-settings", title: "settings", link: "/settings" },
        { icon: "mdi-whistle", title: "Go", link: "/go" }
      ]
    };
  },
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>